* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
.box {
    /*padding: 30px;*/
    /*margin: 50px;*/
    width: 200px;
    height: 200px;
    border-right: 10px solid purple;
    border-top: purple solid 10px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
}
.bigbox {
    padding: 10px;
    background-color: blue;
    /*width: 200px;*/
    /*border-top: 10px red solid;*/
    border-radius: 50%;
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-right: 10px solid deepskyblue;
    border-top: deepskyblue solid 10px;
}